html {
    position: relative;
    min-height: 100%;
}

body {
  margin: 0 0 130px;
}

#footer {
    position: absolute;
    clear: both;
    margin-top: 20px;
    border-top: 1px dotted #ccc;
    padding: 15px 15px 0 15px;
    background: #f9f9f9;
    font-size: 9pt;
    bottom: 0;
}

.container {
  width: 100%;
}


.navbar-brand img {
  width: 40px;
  margin-top: -10px;
  float: left;
  margin-right: 10px;
}

/* table sorter */
.table-sorter thead th,
.tablesort-sortable {
    cursor: pointer;
}

.tablesorter-header.tablesorter-headerAsc,
.tablesort-sortable.tablesort-asc {
    background: url('../imgs/icons/arrow-up-small.png') no-repeat right center;
}

.tablesorter-header.tablesorter-headerDesc,
.tablesort-sortable.tablesort-desc {
    background: url('../imgs/icons/arrow-down-small.png') no-repeat right center;
}

/* Header */
#content .page-header {
    margin-top: 5px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ddd;
}

#content .page-header h1 {
    margin: 0;
    font-size: 20pt;
}

#content .page-header .btn-group {
    float: right;
    margin-top: -24px;
}

#content .page-header .actions {
    margin-top: -30px;
    float: right;
}

/* JUMPBOX */

.jumbotron {
  background-image: url('../imgs/index-rua.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -20px;
}
