<div class="row-fluid">
    <footer id="footer" class="row col-md-12">
        <div class="col-md-4">
            <p>
                <strong>Squitter</strong><br>
                Rodovia Geraldo Scavone, 2080 <br>
                Condominio Empresarial Indusvale - Galpão 25 <br>
                Bairro: Parque Califórnia - CEP: 12305-490  Jacareí-SP <br>
                <strong>Tel:</strong> +55 (12) 3923-2138 <br>
                <a href="http://www.squitter.com.br">http://www.squitter.com.br/</a>
            </p>
        </div>
    </footer>
</div>
