<div class="modal fade" {% block modal_id %}id="modal"{% endblock %} tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog {% block modal_class %}modal-lg{% endblock %}" role="document">
   		<div class="modal-content">
     		<div class="modal-header">
       			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       			<h3>{% block modal_title %}{% endblock %}</h3>
     		</div>
     		<div class="modal-body">
     			{% block modal_body %}{% endblock %}
     		</div>
     		<div class="modal-footer">
       			<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
       			{% block modal_button %}{% endblock %}
     		</div>
   		</div>
 	</div>
</div>