Django==1.10
psycopg2==2.6.2
requests==2.11.1
pyshp==1.2.10 # shapefile
django-bootstrap3==7.1.0
pytz

# django-rest
djangorestframework==3.5.3
djangorestframework-gis==0.10.1
markdown==2.6.7
django-filter==0.15.3



# Test project
pep8
pylint
