{% extends "base.html" %}
{% load static %}

{% block page_title %}
  Nível dor Rio Buquirinha
{% endblock %}

{% block extrahead %}
    <link href="{% static 'components/c3/c3.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'components/jquery.tablesorter/dist/css/theme.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dados/leitura.css' %}">
{% endblock %}

{% block main %}

<div class="col-md-12 text-center" id="legenda-chuva">
  <span class="ch-fraca glyphicon glyphicon-stop"></span> Vigilância (de 1, à 4m)
  <span class="ch-moderada glyphicon glyphicon-stop"></span> Atenção (de 4m à 6m)
  <span class="ch-forte glyphicon glyphicon-stop"></span> Alerta (de 6m à 8m)
  <span class="ch-muito-forte glyphicon glyphicon-stop"></span> Prontidão (acima de 8m)
</div>

<div class="col-md-12">
  <div class="col-md-8">
    <h3>Nível Atual: <span class="{{ nivel.leitura.css_nivel }}">{{ nivel.valor|floatformat:2 }} m</span></h3>
    <div id="chart" style="height: 300px; display: none;"></div>
  </div>
  <div class="col-md-4">
    <p>
      <strong>Fonte:</strong> Fictícia (Régua da Ponte Maria Peregrina)
    </p>
    <img width="100%" src="{% static 'imgs/Ponte-Zona-Norte.jpg' %}" alt="Foto Ilustrativa do nivel do rio Paraíba do Sul" />
    <p class="text-right">Foto Ilustrativa</p>
  </div>
</div>

<table class="table table-condensed table-bordered table-sorter" chart-table="#chart" style="margin-top:50px;">
    <thead>
        <tr>
          <th class="text-center">Hora Leitura</th>
          <th class="text-center">Nível (m)</th>
          <th chart-hide class="text-center">Variação (m)</th>
        </tr>
    </thead>
    <tbody>
        {% for leitura in lista %}
            <tr class="{{ leitura.css_nivel }} text-center">
                <td>{{ leitura.horaLeitura|date:'d/m/Y H:i' }}</td>
                {% for ls in leitura.leiturasensor_set.all %}
                    <td class="{{ leitura.css_chuva }} text-center" data-value="{{ ls.valor|safe }}">{{ ls.valor|floatformat:2|default:'-' }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'components/c3/c3.min.js' %}"></script>
    <script src="{% static 'components/d3/d3.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/tablechart.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/jquery.tablesorter/dist/js/jquery.tablesorter.js' %}"></script>
    <script src="{% static 'js/tablesorter.js' %}"></script>
{% endblock %}
