{% extends "base.html" %}

{% block inicio %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>AlertaSJC</h1>
      <p>
        Protótipo para Identificação de possíveis pontos de alagamento para a cidade de São José dos Campos
      </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Saiba Mais &raquo;</a></p>
    </div>
  </div>
{% endblock %}

  {% block page_header %}{% endblock %}

  {% block main %}
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Trajeto</h2>
            <p>Confira os possíveis pontos de alagamento na sua região.</p>
            <p><a class="btn btn-default" href="#" role="button">Continuar &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Nível do Rio</h2>
            <p>Acompanhe as variações do nível do Rio Paraíba do Sul.</p>
            <p><a class="btn btn-default" href="{% url 'dados:nivel' %}" role="button">Continuar &raquo;</a></p>
         </div>
          <div class="col-md-4">
            <h2>Estações do CEMADEN</h2>
            <p>Acompanhe os dados coletados pelas estações do CEMADEN para a cidade de São José dos Campos</p>
            <p><a class="btn btn-default" href="{% url 'dados:chuva' %}" role="button">Continuar &raquo;</a></p>
          </div>
{% endblock %}
